/**
 * The following styles get applied inside the editor only.
 */

.wp-block-elio-weather-report > .components-notice {
	margin: 0 0 1em;
}

.wp-block-elio-report-placeholder {

	&__location {
		margin-bottom: 1em;
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		margin-top: 1em;
	}

	&__back {
		margin-bottom: 1em;
	}
}
